[ v3_req ]

# Extensions to add to a certificate request

# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, serverAuth

subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.99.1
#
